
.contact{
       border-width: 2px;
    border-radius: 8px;
    border-color: black;
    border-style: solid;
   display:flex;
   justify-content: space-between;
   padding: 5px;
 margin-top: 10px;
    }
  


   .contactList {
    margin-right: auto;

   }